<div class="row justify-content-md-center">
  <div class="col col-lg-5 mt-5">
    <%= render 'search_form', search_object: @search_object %>
    <%= render 'results_list', results: @results %>
  </div>
</div>
